<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlarmConnected" value="false"/>
    <add key="OnForSeconds" value="5"/>
    <add key="COMPort" value="COM3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
