<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlarmConnected" value="true" />
    <add key="OnForSeconds" value="10" />
    <add key="COMPort" value="/dev/tty.usbmodem1411" />
    <add key="AccessKeyId" value="" />
    <add key="SecretKey" value="" />
    <add key="SQSUrl" value="https://sqs.us-east-1.amazonaws.com/257530247365/BBPullRequestsQueue" />
  </appSettings>
</configuration>
