<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlarmConnected" value="false" />
    <add key="OnForSeconds" value="10" />
    <add key="COMPort" value="3" />
    <add key="RunAsService" value="false" />
    <add key="HangfireDashboardURL" value="http://+:9999" />
    <add key="HangfireCulture" value="en-AU" />
    <add key="HangfireSQLiteConn" value="SQLiteHangfire" />
    <add key="PR_QUEUE_MONITOR_SERVICE" value="*/1 * * * *" />
    <add key="AccessKeyId" value=""/>
    <add key="SecretKey" value=""/>
    <add key="SQSUrl" value="https://sqs.us-east-1.amazonaws.com/257530247365/BBPullRequestsQueue"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLiteHangfire" connectionString="Data Source=App_Data\Hangfire.sqlite" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>